.App-header {
  color: black;
  width: 72.6vw;
  height: 3vh;
  margin-left: 13.7vw;
}

.icon{
  float: left;
  margin: 0;
}


.login {
  list-style-type: none;
  float: right;
}

.find {
  list-style-type: none;
  float: right;
  margin-right: 10px;
}
