
.category{
  width: 72.6vw;
  height: 3vh;
  margin-left: 13.7vw;
  margin-top: 3vw;
}

.category-list{
  margin: 0;
  padding-left: 0px;
}

.trend {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}

.date {
  list-style-type: none;
  float: left;
}

.slide{
  float: right;
}

.data{
  width: 72.6vw;
  margin-left: auto;
  margin-right: auto;
}