* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  z-index: 2000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.navblock {
  float: right;
  height: 40px;
  width: 132px;
  margin: 12px 16px 12px 0;
}

.rgt {
  float: left;
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.question {
  height: 18px;
  width: 18px;
  margin-left: 11px;
  margin-top: 11px;
  margin-right: 12px;
}

.logo {
  display: inline-block;
  height: 24px;
  margin: 20px 0 18px 16px;
}

.logo > img { height: 24px; }

.login{
  margin-top: 4px;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-weight: bold;
  word-break: keep-all;
  background: rgb(52, 58, 64);
  color: white;
  transition: all 0.125s ease-in 0s;
  cursor: pointer;
}