div > img{
  width: 24px;
  height: 24px;
}

.main{
  width: 90.57398630858347%;
  height: 48px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  float: left;
  width: 224px;
  height: 48px;
  position: relative;
}

.bar{
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  background: rgb(52, 58, 64);
}

.sort{
  float: left;
  width: 112px;
  height: 48px;
  color: rgb(52, 58, 64);
  font-weight: bold;
  font-size: 1.125rem;
  display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.sortimg{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.dropdown{
  float: right;
  margin-top: 12px;
}

.dropdown-list{
  float: right;
}

.dropdownmenu{
  position: absolute;
    right: 0;
    top: 48px;
    z-index: 5;
    width: 192px;
    height: 245.6px;
    box-shadow: 1px 1px 1px 1px;

}