.PostMap{
  margin: 16px;
  width: 20.84vw;
  height: 52.1vh;
  float: left;
  background: white;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  overflow: hidden;
  flex-direction: column;
  position: relative;

}

.postImage{
  display: block;
  position: relative;
}

.PostImage{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.PostText{
  position: absolute;
  top: 47.8%;
  padding: 16px;
  width: 100%;
  height: 40%;
  background: #fff;

}

.PostStrong{
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
}

.PostDemo{
  width: 100%;
  margin-bottom: 24px;
  background: #fff;
}

.PostDate{
  font-size: 0.75rem;
    line-height: 1.5;
    color: rgb(134, 142, 150);
  background: #fff;

}